openapi: 3.2.0
info:
  title: CostManagementClient Settings API
  version: '2026-06-01'
  description: CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
  x-api-evangelist-common-types: Azure Resource Manager common-types v5 components referenced by this contract were inlined
    from https://github.com/Azure/azure-rest-api-specs/tree/main/specification/common-types/resource-management/v5 and prefixed
    Arm, so the document resolves standalone. Microsoft's published document $refs them by relative path across repository
    directories.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Settings
paths:
  /{scope}/providers/Microsoft.CostManagement/settings:
    get:
      operationId: Settings_List
      tags:
      - Settings
      description: List all cost management settings in the requested scope.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SettingsList:
          $ref: ../examples/settingsList.json
  /{scope}/providers/Microsoft.CostManagement/settings/{type}:
    get:
      operationId: Settings_GetByScope
      tags:
      - Settings
      description: Get the setting from the given scope by name.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: Setting type.
        required: true
        x-ms-enum:
          name: SettingType
          modelAsString: true
          values:
          - name: taginheritance
            value: taginheritance
            description: This setting applies billing profile, invoice section, subscription and resource group tags to current
              month's usage data of child resources.
        schema:
          type: string
          enum:
          - taginheritance
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SettingByScope:
          $ref: ../examples/setting-get.json
    put:
      operationId: Settings_CreateOrUpdateByScope
      tags:
      - Settings
      description: Create or update a setting within the given scope.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: Setting type.
        required: true
        x-ms-enum:
          name: SettingType
          modelAsString: true
          values:
          - name: taginheritance
            value: taginheritance
            description: This setting applies billing profile, invoice section, subscription and resource group tags to current
              month's usage data of child resources.
        schema:
          type: string
          enum:
          - taginheritance
      responses:
        '200':
          description: Resource 'Setting' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
        '201':
          description: Resource 'Setting' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        CreateOrUpdateSettingByScope:
          $ref: ../examples/settings-createOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Setting'
        description: Setting to be created or updated.
        required: true
    delete:
      operationId: Settings_DeleteByScope
      tags:
      - Settings
      description: Delete a setting within the given scope.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: Setting type.
        required: true
        x-ms-enum:
          name: SettingType
          modelAsString: true
          values:
          - name: taginheritance
            value: taginheritance
            description: This setting applies billing profile, invoice section, subscription and resource group tags to current
              month's usage data of child resources.
        schema:
          type: string
          enum:
          - taginheritance
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SettingDeleteByScope:
          $ref: ../examples/setting-delete.json
components:
  schemas:
    ArmProxyResource:
      type: object
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a
        location
      allOf:
      - $ref: '#/components/schemas/ArmResource'
    ArmResource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          $ref: '#/components/schemas/ArmsystemData'
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          readOnly: true
      x-ms-azure-resource: true
    ArmsystemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    ErrorDetails:
      type: object
      description: The details of the error.
      properties:
        code:
          type: string
          description: Error code.
          readOnly: true
        message:
          type: string
          description: Error message indicating why the operation failed.
          readOnly: true
    ErrorResponse:
      type: object
      description: 'Error response indicates that the service is not able to process the incoming request. The reason is provided
        in the error message. \n\nSome Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry after waiting
        for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header. \n\n * 503 ServiceUnavailable
        - Service is temporarily unavailable. Retry after waiting for the time specified in the \"Retry-After\" header.'
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    Setting:
      type: object
      description: Setting definition.
      properties:
        kind:
          $ref: '#/components/schemas/SettingsKind'
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type;
            e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist
            this value.
          pattern: ^[-\w\._,\(\\\)]+$
      discriminator:
        propertyName: kind
      required:
      - kind
      allOf:
      - $ref: '#/components/schemas/ArmProxyResource'
    SettingsKind:
      type: string
      description: Specifies the kind of settings.
      enum:
      - taginheritance
      x-ms-enum:
        name: SettingsKind
        modelAsString: true
        values:
        - name: taginheritance
          value: taginheritance
    SettingsListResult:
      type: object
      description: Setting list result. It contains a list of settings.
      properties:
        value:
          type: array
          description: The list of settings.
          items:
            $ref: '#/components/schemas/Setting'
          readOnly: true
          x-ms-identifiers:
          - id
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
