openapi: 3.2.0
info:
  title: CostManagementClient Markup Rules API
  version: '2026-06-01'
  description: CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MarkupRules
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/markupRules
  : get:
      operationId: MarkupRules_List
      tags:
      - MarkupRules
      description: List all markup rules for a billing account and billing profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingProfileId
        in: path
        description: BillingProfile ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkupRulePagedResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        MarkupRulesList:
          $ref: ./examples/MarkupRulesList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Markup rules list
      x-summary-source: derived
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/markupRules/{ruleName}
  : get:
      operationId: MarkupRules_Get
      tags:
      - MarkupRules
      description: Get a markup rule by name for a billing account and billing profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingProfileId
        in: path
        description: BillingProfile ID
        required: true
        schema:
          type: string
      - name: ruleName
        in: path
        description: Markup rule name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9_-]{0,63}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkupRule'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        MarkupRulesGet:
          $ref: ./examples/MarkupRulesGet.json
      summary: Markup rules get
      x-summary-source: derived
    put:
      operationId: MarkupRules_CreateOrUpdate
      tags:
      - MarkupRules
      description: Create or update a markup rule for a billing account and billing profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingProfileId
        in: path
        description: BillingProfile ID
        required: true
        schema:
          type: string
      - name: ruleName
        in: path
        description: Markup rule name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9_-]{0,63}$
      responses:
        '200':
          description: Resource 'MarkupRule' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkupRule'
        '201':
          description: Resource 'MarkupRule' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkupRule'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        MarkupRulesCreateOrUpdate:
          $ref: ./examples/MarkupRulesCreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkupRule'
        description: The markup rule to create or update.
        required: true
      summary: Markup rules create or update
      x-summary-source: derived
    delete:
      operationId: MarkupRules_Delete
      tags:
      - MarkupRules
      description: Delete a markup rule for a billing account and billing profile.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingProfileId
        in: path
        description: BillingProfile ID
        required: true
        schema:
          type: string
      - name: ruleName
        in: path
        description: Markup rule name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_][a-zA-Z0-9_-]{0,63}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        MarkupRulesDelete:
          $ref: ./examples/MarkupRulesDelete.json
      summary: Markup rules delete
      x-summary-source: derived
components:
  schemas:
    MarkupRuleProperties:
      type: object
      description: The properties of the markup rule.
      properties:
        description:
          type: string
          description: The description of the markup rule.
        percentage:
          type: number
          format: double
          description: The markup percentage of the rule.
        startDate:
          type: string
          format: date-time
          description: Starting date of the markup rule.
        endDate:
          type: string
          format: date-time
          description: Ending date of the markup rule.
        customerDetails:
          $ref: '#/components/schemas/CustomerMetadata'
          description: Customer information for the markup rule.
      required:
      - percentage
      - startDate
      - customerDetails
    MarkupRule:
      type: object
      description: Markup rule
      properties:
        properties:
          $ref: '#/components/schemas/MarkupRuleProperties'
          description: Markup rule properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    ErrorDetails:
      type: object
      description: The details of the error.
      properties:
        code:
          type: string
          description: Error code.
          readOnly: true
        message:
          type: string
          description: Error message indicating why the operation failed.
          readOnly: true
    CustomerMetadata:
      type: object
      description: The customer billing metadata
      properties:
        billingAccountId:
          type: string
          description: Customer billing account id
        billingProfileId:
          type: string
          description: Customer billing profile id
      required:
      - billingAccountId
      - billingProfileId
    ErrorResponse:
      type: object
      description: 'Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message. \n\nSome Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable. Retry after waiting for the time specified in the \"Retry-After\" header.'
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    MarkupRulePagedResponse:
      type: object
      description: Markup rule list result. It contains a list of Markup rules.
      properties:
        value:
          type: array
          description: The list of markup rules.
          items:
            $ref: '#/components/schemas/MarkupRule'
          x-ms-identifiers:
          - id
        nextLink:
          type: string
          description: The link (url) to the next page of results.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
