openapi: 3.2.0
info:
  title: CostManagementClient Generate Detailed Cost Report…
  version: '2026-06-01'
  description: CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GenerateDetailedCostReportOperationResults
paths:
  /{scope}/providers/Microsoft.CostManagement/operationResults/{operationId}:
    get:
      operationId: GenerateDetailedCostReportOperationResults_Get
      tags:
      - GenerateDetailedCostReportOperationResults
      description: Gets the result of the specified operation. The link with this operationId is provided as a response header of the initial request.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: scope
        in: path
        description: The fully qualified Azure Resource manager identifier of the resource.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: operationId
        in: path
        description: The target operation Id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateDetailedCostReportOperationResult'
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get details of the operation result:
          $ref: ./examples/GenerateDetailedCostReportOperationResultsBySubscriptionScope.json
      x-ms-long-running-operation: true
      summary: Generate detailed cost report operation results get
      x-summary-source: derived
components:
  schemas:
    ErrorDetails:
      type: object
      description: The details of the error.
      properties:
        code:
          type: string
          description: Error code.
          readOnly: true
        message:
          type: string
          description: Error message indicating why the operation failed.
          readOnly: true
    DownloadURL:
      type: object
      description: The URL to download the generated report.
      properties:
        expiryTime:
          type: string
          format: date-time
          description: The time at which report URL becomes invalid/expires in UTC e.g. 2020-12-08T05:55:59.4394737Z.
          readOnly: true
        validTill:
          type: string
          format: date-time
          description: The time at which report URL becomes invalid/expires in UTC e.g. 2020-12-08T05:55:59.4394737Z.
        downloadUrl:
          type: string
          description: The URL to download the generated report.
    ErrorResponse:
      type: object
      description: 'Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message. \n\nSome Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable. Retry after waiting for the time specified in the \"Retry-After\" header.'
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    GenerateDetailedCostReportOperationResult:
      type: object
      description: The result of the long running operation for cost detailed report.
      properties:
        properties:
          $ref: '#/components/schemas/DownloadURL'
          description: The properties of the resource generated.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
