openapi: 3.2.0
info:
  title: CostManagementClient Providers API
  version: '2026-06-01'
  description: CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
  x-api-evangelist-common-types: Azure Resource Manager common-types v5 components referenced by this contract were inlined
    from https://github.com/Azure/azure-rest-api-specs/tree/main/specification/common-types/resource-management/v5 and prefixed
    Arm, so the document resolves standalone. Microsoft's published document $refs them by relative path across repository
    directories.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Providers
paths:
  /{billingScope}/providers/Microsoft.CostManagement/benefitRecommendations:
    get:
      operationId: BenefitRecommendations_List
      description: List of recommendations for purchasing savings plan.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/CostManagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        in: query
        description: 'Can be used to filter benefitRecommendations by: properties/scope with allowed values [''Single'', ''Shared'']
          and default value ''Shared''; and properties/lookBackPeriod with allowed values [''Last7Days'', ''Last30Days'',
          ''Last60Days''] and default value ''Last60Days''; properties/term with allowed values [''P1Y'', ''P3Y''] and default
          value ''P3Y''; properties/subscriptionId; properties/resourceGroup'
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: 'May be used to order the recommendations by: properties/armSkuName. For the savings plan, the results
          are in order by default. There is no need to use this clause.'
        required: false
        schema:
          type: string
      - name: $expand
        in: query
        description: 'May be used to expand the properties by: properties/usage, properties/allRecommendationDetails'
        required: false
        schema:
          type: string
      - name: billingScope
        in: path
        description: The scope associated with benefit recommendation operations. This includes '/subscriptions/{subscriptionId}/'
          for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group
          scope, /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for enterprise agreement scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
          for billing profile scope
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/benefitRecommendationsListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        BenefitRecommendationsBillingAccountList:
          $ref: ../examples/BenefitRecommendationsByBillingAccount.json
        BenefitRecommendationsManagementGroupList:
          $ref: ../examples/BenefitRecommendationsByBillingAccountForManagementGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
  /{scope}/providers/Microsoft.CostManagement/checkNameAvailability:
    post:
      operationId: ScheduledActions_CheckNameAvailabilityByScope
      description: Checks availability and correctness of the name for a scheduled action within the given scope.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: 'The scope associated with scheduled action operations. This includes ''subscriptions/{subscriptionId}''
          for subscription scope, ''subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'' for resourceGroup
          scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}'' for Billing Account scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}''
          for Department scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}''
          for EnrollmentAccount scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}''
          for BillingProfile scope, ''providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}''
          for InvoiceSection scope, ''providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}''
          for External Billing Account scope and ''providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}''
          for External Subscription scope. Note: Insight Alerts are only available on subscription scope.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmCheckNameAvailabilityResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithNestedDetails'
      x-ms-examples:
        ScheduledActionCheckNameAvailabilityByScope:
          $ref: ../examples/scheduledActions/checkNameAvailability-shared-scheduledAction.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArmCheckNameAvailabilityRequest'
        description: Scheduled action to be created or updated.
        required: true
      tags:
      - Providers
  /{scope}/providers/Microsoft.CostManagement/dimensions:
    get:
      operationId: Dimensions_List
      description: Lists the dimensions by the defined scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The scope associated with dimension operations. This includes '/subscriptions/{subscriptionId}/' for
          subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
          '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
          for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
          for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management
          Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
          for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
          for invoiceSection scope, and 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
          specific for partners.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: $filter
        in: query
        description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd.
          Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
        required: false
        schema:
          type: string
      - name: $expand
        in: query
        description: May be used to expand the properties/data within a dimension category. By default, data is not included
          when listing dimensions.
        required: false
        schema:
          type: string
      - name: $skiptoken
        in: query
        description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains
          a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting
          point to use for subsequent calls.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: May be used to limit the number of results to the most recent N dimension data.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        BillingAccountDimensionsList-Legacy:
          $ref: ../examples/BillingAccountDimensionsList.json
        BillingAccountDimensionsList-MCA:
          $ref: ../examples/MCABillingAccountDimensionsList.json
        BillingAccountDimensionsListExpandAndTop-Legacy:
          $ref: ../examples/BillingAccountDimensionsListExpandAndTop.json
        BillingAccountDimensionsListExpandAndTop-MCA:
          $ref: ../examples/MCABillingAccountDimensionsListExpandAndTop.json
        BillingAccountDimensionsListWithFilter-Legacy:
          $ref: ../examples/BillingAccountDimensionsListWithFilter.json
        BillingAccountDimensionsListWithFilter-MCA:
          $ref: ../examples/MCABillingAccountDimensionsListWithFilter.json
        BillingProfileDimensionsList-MCA:
          $ref: ../examples/MCABillingProfileDimensionsList.json
        BillingProfileDimensionsListExpandAndTop-MCA:
          $ref: ../examples/MCABillingProfileDimensionsListExpandAndTop.json
        BillingProfileDimensionsListWithFilter-MCA:
          $ref: ../examples/MCABillingProfileDimensionsListWithFilter.json
        CustomerDimensionsList-MCA:
          $ref: ../examples/MCACustomerDimensionsList.json
        CustomerDimensionsListExpandAndTop-MCA:
          $ref: ../examples/MCACustomerDimensionsListExpandAndTop.json
        CustomerDimensionsListWithFilter-MCA:
          $ref: ../examples/MCACustomerDimensionsListWithFilter.json
        DepartmentDimensionsList-Legacy:
          $ref: ../examples/DepartmentDimensionsList.json
        DepartmentDimensionsListExpandAndTop-Legacy:
          $ref: ../examples/DepartmentDimensionsListExpandAndTop.json
        DepartmentDimensionsListWithFilter-Legacy:
          $ref: ../examples/DepartmentDimensionsListWithFilter.json
        EnrollmentAccountDimensionsList-Legacy:
          $ref: ../examples/EnrollmentAccountDimensionsList.json
        EnrollmentAccountDimensionsListExpandAndTop-Legacy:
          $ref: ../examples/EnrollmentAccountDimensionsListExpandAndTop.json
        EnrollmentAccountDimensionsListWithFilter-Legacy:
          $ref: ../examples/EnrollmentAccountDimensionsListWithFilter.json
        InvoiceSectionDimensionsList-MCA:
          $ref: ../examples/MCAInvoiceSectionDimensionsList.json
        InvoiceSectionDimensionsListExpandAndTop-MCA:
          $ref: ../examples/MCAInvoiceSectionDimensionsListExpandAndTop.json
        InvoiceSectionDimensionsListWithFilter-MCA:
          $ref: ../examples/MCAInvoiceSectionDimensionsListWithFilter.json
        ManagementGroupDimensionsList-Legacy:
          $ref: ../examples/ManagementGroupDimensionsList.json
        ManagementGroupDimensionsListExpandAndTop-Legacy:
          $ref: ../examples/ManagementGroupDimensionsListExpandAndTop.json
        ManagementGroupDimensionsListWithFilter-Legacy:
          $ref: ../examples/ManagementGroupDimensionsListWithFilter.json
        ResourceGroupDimensionsList-Legacy:
          $ref: ../examples/ResourceGroupDimensionsList.json
        SubscriptionDimensionsList-Legacy:
          $ref: ../examples/SubscriptionDimensionsList.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
  /{scope}/providers/Microsoft.CostManagement/forecast:
    post:
      operationId: Forecast_Usage
      description: Lists the forecast charges for scope defined.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        in: query
        description: May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain.
          The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
        required: false
        schema:
          type: string
      - name: scope
        in: path
        description: The scope associated with forecast operations. This includes '/subscriptions/{subscriptionId}/' for subscription
          scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
          for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
          for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
          for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management
          Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
          for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
          for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
          specific for partners.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastResult'
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        BillingAccountForecast:
          $ref: ../examples/BillingAccountForecast.json
        BillingProfileForecast:
          $ref: ../examples/BillingProfileForecast.json
        DepartmentForecast:
          $ref: ../examples/DepartmentForecast.json
        EnrollmentAccountForecast:
          $ref: ../examples/EnrollmentAccountForecast.json
        InvoiceSectionForecast:
          $ref: ../examples/InvoiceSectionForecast.json
        ResourceGroupForecast:
          $ref: ../examples/ResourceGroupForecast.json
        SubscriptionForecast:
          $ref: ../examples/SubscriptionForecast.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForecastDefinition'
        description: Parameters supplied to the CreateOrUpdate Forecast Config operation.
        required: true
      tags:
      - Providers
  /{scope}/providers/Microsoft.CostManagement/generateCostDetailsReport:
    post:
      operationId: GenerateCostDetailsReport_CreateOperation
      description: This API is the replacement for all previously release Usage Details APIs. Request to generate a cost details
        report for the provided date range, billing period (Only enterprise customers) or Invoice Id asynchronously at a certain
        scope. The initial call to request a report will return a 202 with a 'Location' and 'Retry-After' header. The 'Location'
        header will provide the endpoint to poll to get the result of the report generation. The 'Retry-After' provides the
        duration to wait before polling for the generated report. A call to poll the report operation will provide a 202 response
        with a 'Location' header if the operation is still in progress. Once the report generation operation completes, the
        polling endpoint will provide a 200 response along with details on the report blob(s) that are available for download.
        The details on the file(s) available for download will be available in the polling response body. To Understand cost
        details (formerly known as usage details) fields found in files ,see https://learn.microsoft.com/en-us/azure/cost-management-billing/automate/understand-usage-details-fields
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The ARM Resource ID for subscription, billing account, or other billing scopes.Currently Resource Group
          and Management Group are not supported. For details, see https://aka.ms/costmgmt/scopes.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostDetailsOperationResults'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateCostDetailsReportErrorResponse'
      x-ms-examples:
        GenerateCostDetailsReportByBillingAccountEnterpriseAgreementCustomerAndBillingPeriod:
          $ref: ../examples/GenerateCostDetailsReportByBillingAccountEnterpriseAgreementCustomerAndBillingPeriod.json
        GenerateCostDetailsReportByBillingProfileAndInvoiceId:
          $ref: ../examples/GenerateCostDetailsReportByBillingProfileAndInvoiceId.json
        GenerateCostDetailsReportByBillingProfileAndInvoiceIdAndCustomerId:
          $ref: ../examples/GenerateCostDetailsReportByBillingProfileAndInvoiceIdAndCustomerId.json
        GenerateCostDetailsReportByCustomerAndTimePeriod:
          $ref: ../examples/GenerateCostDetailsReportByCustomerAndTimePeriod.json
        GenerateCostDetailsReportByDepartmentsAndTimePeriod:
          $ref: ../examples/GenerateCostDetailsReportByDepartmentsAndTimePeriod.json
        GenerateCostDetailsReportByEnrollmentAccountsAndTimePeriod:
          $ref: ../examples/GenerateCostDetailsReportByEnrollmentAccountsAndTimePeriod.json
        GenerateCostDetailsReportBySubscriptionAndTimePeriod:
          $ref: ../examples/GenerateCostDetailsReportBySubscriptionAndTimePeriod.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/CostDetailsOperationResults'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateCostDetailsReportRequestDefinition'
        description: Parameters supplied to the Create cost details operation.
        required: true
      tags:
      - Providers
  /{scope}/providers/Microsoft.CostManagement/generateDetailedCostReport:
    post:
      operationId: GenerateDetailedCostReport_CreateOperation
      description: Generates the detailed cost report for provided date range, billing period(only enterprise customers) or
        Invoice ID asynchronously at a certain scope. Call returns a 202 with header Azure-Consumption-AsyncOperation providing
        a link to the operation created. A call on the operation will provide the status and if the operation is completed
        the blob file where generated detailed cost report is being stored.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The ARM Resource ID for subscription, resource group, billing account, or other billing scopes. For details,
          see https://aka.ms/costmgmt/scopes.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateDetailedCostReportOperationResult'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
                format: uri
            Azure-Consumption-AsyncOperation:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateDetailedCostReportErrorResponse'
      x-ms-examples:
        GenerateDetailedCostReportByBillingAccountLegacyAndBillingPeriod:
          $ref: ../examples/GenerateDetailedCostReportByBillingAccountLegacyAndBillingPeriod.json
        GenerateDetailedCostReportByBillingProfileAndInvoiceId:
          $ref: ../examples/GenerateDetailedCostReportByBillingProfileAndInvoiceId.json
        GenerateDetailedCostReportByBillingProfileAndInvoiceIdAndCustomerId:
          $ref: ../examples/GenerateDetailedCostReportByBillingProfileAndInvoiceIdAndCustomerId.json
        GenerateDetailedCostReportByCustomerAndTimePeriod:
          $ref: ../examples/GenerateDetailedCostReportByCustomerAndTimePeriod.json
        GenerateDetailedCostReportBySubscriptionAndTimePeriod:
          $ref: ../examples/GenerateDetailedCostReportBySubscriptionAndTimePeriod.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/GenerateDetailedCostReportOperationResult'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDetailedCostReportDefinition'
        description: Parameters supplied to the Create detailed cost report operation.
        required: true
      tags:
      - Providers
  /{scope}/providers/Microsoft.CostManagement/query:
    post:
      operationId: Query_Usage
      description: Query the usage data for scope defined.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/'
          for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
          '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
          for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
          for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management
          Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
          for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
          for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
          specific for partners.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        BillingAccountQuery-Legacy:
          $ref: ../examples/BillingAccountQuery.json
        BillingAccountQuery-MCA:
          $ref: ../examples/MCABillingAccountQuery.json
        BillingAccountQueryGrouping-Legacy:
          $ref: ../examples/BillingAccountQueryGrouping.json
        BillingAccountQueryGrouping-MCA:
          $ref: ../examples/MCABillingAccountQueryGrouping.json
        BillingProfileQuery-MCA:
          $ref: ../examples/MCABillingProfileQuery.json
        BillingProfileQueryGrouping-MCA:
          $ref: ../examples/MCABillingProfileQueryGrouping.json
        CustomerQuery-MCA:
          $ref: ../examples/MCACustomerQuery.json
        CustomerQueryGrouping-MCA:
          $ref: ../examples/MCACustomerQueryGrouping.json
        DepartmentQuery-Legacy:
          $ref: ../examples/DepartmentQuery.json
        DepartmentQueryGrouping-Legacy:
          $ref: ../examples/DepartmentQueryGrouping.json
        EnrollmentAccountQuery-Legacy:
          $ref: ../examples/EnrollmentAccountQuery.json
        EnrollmentAccountQueryGrouping-Legacy:
          $ref: ../examples/EnrollmentAccountQueryGrouping.json
        InvoiceSectionQuery-MCA:
          $ref: ../examples/MCAInvoiceSectionQuery.json
        InvoiceSectionQueryGrouping-MCA:
          $ref: ../examples/MCAInvoiceSectionQueryGrouping.json
        ManagementGroupQuery-Legacy:
          $ref: ../examples/ManagementGroupQuery.json
        ManagementGroupQueryGrouping-Legacy:
          $ref: ../examples/ManagementGroupQueryGrouping.json
        ResourceGroupQuery-Legacy:
          $ref: ../examples/ResourceGroupQuery.json
        ResourceGroupQueryGrouping-Legacy:
          $ref: ../examples/ResourceGroupQueryGrouping.json
        SubscriptionQuery-Legacy:
          $ref: ../examples/SubscriptionQuery.json
        SubscriptionQueryGrouping-Legacy:
          $ref: ../examples/SubscriptionQueryGrouping.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDefinition'
        description: Parameters supplied to the CreateOrUpdate Query Config operation.
        required: true
      tags:
      - Providers
  /providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/alerts:
    get:
      operationId: Alerts_ListExternal
      description: Lists the Alerts for external cloud provider type defined.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: externalCloudProviderType
        in: path
        description: The external cloud provider type associated with dimension/query operations. This includes 'externalSubscriptions'
          for linked account and 'externalBillingAccounts' for consolidated account.
        required: true
        x-ms-enum:
          name: ExternalCloudProviderType
          modelAsString: true
          values:
          - name: externalSubscriptions
            value: externalSubscriptions
          - name: externalBillingAccounts
            value: externalBillingAccounts
        schema:
          type: string
          enum:
          - externalSubscriptions
          - externalBillingAccounts
      - name: externalCloudProviderId
        in: path
        description: This can be '{externalSubscriptionId}' for linked account or '{externalBillingAccountId}' for consolidated
          account used with dimension/query operations.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExternalBillingAccountAlerts:
          $ref: ../examples/ExternalBillingAccountAlerts.json
        ExternalSubscriptionAlerts:
          $ref: ../examples/ExternalSubscriptionAlerts.json
      tags:
      - Providers
  /providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/dimensions:
    get:
      operationId: Dimensions_ByExternalCloudProviderType
      description: Lists the dimensions by the external cloud provider type.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: externalCloudProviderType
        in: path
        description: The external cloud provider type associated with dimension/query operations. This includes 'externalSubscriptions'
          for linked account and 'externalBillingAccounts' for consolidated account.
        required: true
        x-ms-enum:
          name: ExternalCloudProviderType
          modelAsString: true
          values:
          - name: externalSubscriptions
            value: externalSubscriptions
          - name: externalBillingAccounts
            value: externalBillingAccounts
        schema:
          type: string
          enum:
          - externalSubscriptions
          - externalBillingAccounts
      - name: externalCloudProviderId
        in: path
        description: This can be '{externalSubscriptionId}' for linked account or '{externalBillingAccountId}' for consolidated
          account used with dimension/query operations.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd.
          Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
        required: false
        schema:
          type: string
      - name: $expand
        in: query
        description: May be used to expand the properties/data within a dimension category. By default, data is not included
          when listing dimensions.
        required: false
        schema:
          type: string
      - name: $skiptoken
        in: query
        description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains
          a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting
          point to use for subsequent calls.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: May be used to limit the number of results to the most recent N dimension data.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExternalBillingAccountDimensionList:
          $ref: ../examples/ExternalBillingAccountsDimensions.json
        ExternalSubscriptionDimensionList:
          $ref: ../examples/ExternalSubscriptionsDimensions.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
  /providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/forecast:
    post:
      operationId: Forecast_ExternalCloudProviderUsage
      description: Lists the forecast charges for external cloud provider type defined.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        in: query
        description: May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain.
          The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
        required: false
        schema:
          type: string
      - name: externalCloudProviderType
        in: path
        description: The external cloud provider type associated with dimension/query operations. This includes 'externalSubscriptions'
          for linked account and 'externalBillingAccounts' for consolidated account.
        required: true
        x-ms-enum:
          name: ExternalCloudProviderType
          modelAsString: true
          values:
          - name: externalSubscriptions
            value: externalSubscriptions
          - name: externalBillingAccounts
            value: externalBillingAccounts
        schema:
          type: string
          enum:
          - externalSubscriptions
          - externalBillingAccounts
      - name: externalCloudProviderId
        in: path
        description: This can be '{externalSubscriptionId}' for linked account or '{externalBillingAccountId}' for consolidated
          account used with dimension/query operations.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExternalBillingAccountForecast:
          $ref: ../examples/ExternalBillingAccountForecast.json
        ExternalSubscriptionForecast:
          $ref: ../examples/ExternalSubscriptionForecast.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForecastDefinition'
        description: The request body
        required: true
      tags:
      - Providers
  /providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/query:
    post:
      operationId: Query_UsageByExternalCloudProviderType
      description: Query the usage data for external cloud provider type defined.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: externalCloudProviderType
        in: path
        description: The external cloud provider type associated with dimension/query operations. This includes 'externalSubscriptions'
          for linked account and 'externalBillingAccounts' for consolidated account.
        required: true
        x-ms-enum:
          name: ExternalCloudProviderType
          modelAsString: true
          values:
          - name: externalSubscriptions
            value: externalSubscriptions
          - name: externalBillingAccounts
            value: externalBillingAccounts
        schema:
          type: string
          enum:
          - externalSubscriptions
          - externalBillingAccounts
      - name: externalCloudProviderId
        in: path
        description: This can be '{externalSubscriptionId}' for linked account or '{externalBillingAccountId}' for consolidated
          account used with dimension/query operations.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExternalBillingAccountQueryList:
          $ref: ../examples/ExternalBillingAccountsQuery.json
        ExternalSubscriptionsQuery:
          $ref: ../examples/ExternalSubscriptionsQuery.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDefinition'
        description: The request body
        required: true
      tags:
      - Providers
  /providers/Microsoft.CostManagement/checkNameAvailability:
    post:
      operationId: ScheduledActions_CheckNameAvailability
      description: Checks availability and correctness of the name for a scheduled action.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmCheckNameAvailabilityResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithNestedDetails'
      x-ms-examples:
        ScheduledActionCheckNameAvailability:
          $ref: ../examples/scheduledActions/checkNameAvailability-private-scheduledAction.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArmCheckNameAvailabilityRequest'
        description: The request body
        required: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingPeriods/{billingPeriodName}/providers/Microsoft.CostManagement/pricesheets/default/download
  : post:
      operationId: PriceSheet_DownloadByBillingAccount
      description: 'Generates the pricesheet for the provided billing period asynchronously based on the Enrollment ID. This
        is for Enterprise Agreement customers.


        **Migrate to version 2025-03-01**


        You can use the 2025-03-01 API version with the new URI:


        ''/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingPeriods/{billingPeriodName}/providers/Microsoft.CostManagement/pricesheets/default/download''


        With a new schema detailed below, the new version of the price sheet provides additional information and includes
        prices for Azure Reserved Instances (RI) for the current billing period. We recommend downloading an Azure Price Sheet
        for when entering a new billing period if you would maintain an ongoing record of past Azure Reserved Instance (RI)
        pricing.


        The EA Azure price sheet is available for billing periods in the past 13 months. To request a price sheet for a billing
        period older than 13 months, please contact support.


        The Azure price sheet download experience has been updated from a single .csv file to a zip file containing multiple
        .csv files, each with max size of 75MB. The 2023-11-01 version has been upgraded to use http POST method; details
        can be found below.


        All versions of the Microsoft.Consumption Azure Price Sheet - Download by Billing Account (including 2022-06-01, 2021-10-01,
        2020-01-01-preview, 2019-10-01, 2019-05-01) are scheduled to be retired on 01 June 2026 and will no longer be supported
        after this date.'
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingPeriodName
        in: path
        description: Billing Period Name.
        required: true
        schema:
          type: string
          pattern: ^[0-9]*$
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      x-ms-examples:
        EAPriceSheetForBillingPeriod:
          $ref: ../examples/EAPriceSheetForBillingPeriod.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/OperationStatus'
      x-ms-long-running-operation: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices/{invoiceName}/providers/Microsoft.CostManagement/pricesheets/default/download
  : post:
      operationId: PriceSheet_DownloadByInvoice
      description: Gets a URL to download the pricesheet for an invoice. The operation is supported for billing accounts with
        agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountName
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
          pattern: ([A-Za-z0-9]+(-[A-Za-z0-9]+)+):([A-Za-z0-9]+(-[A-Za-z0-9]+)+)_[0-9]{4}-[0-9]{2}-[0-9]{2}
      - name: billingProfileName
        in: path
        description: Billing Profile Name.
        required: true
        schema:
          type: string
          pattern: ([A-Za-z0-9]+(-[A-Za-z0-9]+)+)
      - name: invoiceName
        in: path
        description: The ID that uniquely identifies an invoice.
        required: true
        schema:
          type: string
          pattern: '[A-Za-z0-9]+'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadURL'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        PricesheetDownload:
          $ref: ../examples/PricesheetDownload.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/DownloadURL'
      x-ms-long-running-operation: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      operationId: BenefitUtilizationSummaries_ListByBillingProfileId
      description: 'Lists savings plan utilization summaries for billing profile. Supported at grain values: ''Daily'' and
        ''Monthly''.'
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingProfileId
        in: path
        description: Billing Profile ID.
        required: true
        schema:
          type: string
      - name: grainParameter
        in: query
        description: Grain.
        required: false
        x-ms-enum:
          name: GrainParameter
          modelAsString: true
          values:
          - name: Hourly
            value: Hourly
            description: Hourly grain corresponds to value per hour.
          - name: Daily
            value: Daily
            description: Hourly grain corresponds to value per day.
          - name: Monthly
            value: Monthly
            description: Hourly grain corresponds to value per month.
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - name: filter
        in: query
        description: Supports filtering by properties/benefitId, properties/benefitOrderId and properties/usageDate.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SavingsPlanUtilizationSummaries-BillingProfile:
          $ref: ../examples/BenefitUtilizationSummaries/SavingsPlan-BillingProfile.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateByBillingProfile
      description: Triggers generation of a benefit utilization summaries report for the provided billing account and billing
        profile.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingProfileId
        in: path
        description: Billing Profile ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      x-ms-examples:
        GenerateUtilizationSummariesReportByBillingProfile:
          $ref: ../examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByBillingProfile.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/BenefitUtilizationSummariesOperationStatus'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitUtilizationSummariesRequest'
        description: Async Benefit Utilization Summary report to be created.
        required: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/generateReservationDetailsReport
  : post:
      operationId: GenerateReservationDetailsReport_ByBillingProfileId
      description: Generates the reservations details report for provided date range asynchronously by billing profile. The
        Reservation usage details can be viewed by only certain enterprise roles by default. For more details on the roles
        see, https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/reservation-utilization#view-utilization-in-the-azure-portal-with-azure-rbac-access
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: billingProfileId
        in: path
        description: Billing Profile ID.
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start Date
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End Date
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ReservationDetails:
          $ref: ../examples/GenerateReservationDetailsReportByBillingProfile.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/OperationStatus'
      x-ms-long-running-operation: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.CostManagement/pricesheets/default/download
  : post:
      operationId: PriceSheet_DownloadByBillingProfile
      description: 'Gets a URL to download the current month''s pricesheet for a billing profile. The operation is supported
        for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.


        You can use the new 2023-09-01 API version for billing periods January 2023 onwards. Azure Reserved Instance (RI)
        pricing is only available through the new version of the API.


        Due to Azure product growth, the Azure price sheet download experience in this preview version will be updated from
        a single csv/json file to a Zip file containing multiple csv/json files, each with max size of 75MB.'
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountName
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
          pattern: ([A-Za-z0-9]+(-[A-Za-z0-9]+)+):([A-Za-z0-9]+(-[A-Za-z0-9]+)+)_[0-9]{4}-[0-9]{2}-[0-9]{2}
      - name: billingProfileName
        in: path
        description: Billing Profile Name.
        required: true
        schema:
          type: string
          pattern: ([A-Za-z0-9]+(-[A-Za-z0-9]+)+)
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricesheetDownloadProperties'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        PricesheetDownloadByBillingProfile:
          $ref: ../examples/PricesheetDownloadByBillingProfile.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/PricesheetDownloadProperties'
      x-ms-long-running-operation: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      operationId: BenefitUtilizationSummaries_ListByBillingAccountId
      description: 'Lists savings plan utilization summaries for the enterprise agreement scope. Supported at grain values:
        ''Daily'' and ''Monthly''.'
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: grainParameter
        in: query
        description: Grain.
        required: false
        x-ms-enum:
          name: GrainParameter
          modelAsString: true
          values:
          - name: Hourly
            value: Hourly
            description: Hourly grain corresponds to value per hour.
          - name: Daily
            value: Daily
            description: Hourly grain corresponds to value per day.
          - name: Monthly
            value: Monthly
            description: Hourly grain corresponds to value per month.
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - name: filter
        in: query
        description: Supports filtering by properties/benefitId, properties/benefitOrderId and properties/usageDate.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SavingsPlanUtilizationSummaries-BillingAccount:
          $ref: ../examples/BenefitUtilizationSummaries/SavingsPlan-BillingAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/checkNameAvailability
  : post:
      operationId: CostAllocationRules_CheckNameAvailability
      description: Checks availability and correctness of a name for a cost allocation rule
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAllocationRuleCheckNameAvailabilityResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        CostAllocationRuleCheckNameAvailability:
          $ref: ../examples/CostAllocationRuleCheckNameAvailability.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostAllocationRuleCheckNameAvailabilityRequest'
        description: Cost allocation rule to be created or updated
        required: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateByBillingAccount
      description: Triggers generation of a benefit utilization summaries report for the provided billing account. This API
        supports only enrollment accounts.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      x-ms-examples:
        GenerateUtilizationSummariesReportByBillingAccount:
          $ref: ../examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByBillingAccount.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/BenefitUtilizationSummariesOperationStatus'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitUtilizationSummariesRequest'
        description: Async Benefit Utilization Summary report to be created.
        required: true
      tags:
      - Providers
  ? /providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateReservationDetailsReport
  : post:
      operationId: GenerateReservationDetailsReport_ByBillingAccountId
      description: Generates the reservations details report for provided date range asynchronously based on enrollment id.
        The Reservation usage details can be viewed only by certain enterprise roles. For more details on the roles see, https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-ea-roles#usage-and-costs-access-by-role
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: billingAccountId
        in: path
        description: BillingAccount ID
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        description: Start Date
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: End Date
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ReservationDetails:
          $ref: ../examples/GenerateReservationDetailsReportByBillingAccount.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/OperationStatus'
      x-ms-long-running-operation: true
      tags:
      - Providers
  ? /providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      operationId: BenefitUtilizationSummaries_ListBySavingsPlanOrder
      description: Lists the savings plan utilization summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        in: query
        description: Supports filtering by properties/usageDate.
        required: false
        schema:
          type: string
      - name: grainParameter
        in: query
        description: Grain.
        required: false
        x-ms-enum:
          name: GrainParameter
          modelAsString: true
          values:
          - name: Hourly
            value: Hourly
            description: Hourly grain corresponds to value per hour.
          - name: Daily
            value: Daily
            description: Hourly grain corresponds to value per day.
          - name: Monthly
            value: Monthly
            description: Hourly grain corresponds to value per month.
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - name: savingsPlanOrderId
        in: path
        description: Savings plan order ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SavingsPlanUtilizationSummariesDaily:
          $ref: ../examples/BenefitUtilizationSummaries/SavingsPlan-SavingsPlanOrderId-Daily.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
  ? /providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateBySavingsPlanOrderId
      description: Triggers generation of a benefit utilization summaries report for the provided savings plan order.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: savingsPlanOrderId
        in: path
        description: Savings plan order ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      x-ms-examples:
        GenerateUtilizationSummariesReportBySavingsPlanOrder:
          $ref: ../examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportBySavingsPlanOrder.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/BenefitUtilizationSummariesOperationStatus'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitUtilizationSummariesRequest'
        description: Async Benefit Utilization Summary report to be created.
        required: true
      tags:
      - Providers
  ? /providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries
  : get:
      operationId: BenefitUtilizationSummaries_ListBySavingsPlanId
      description: Lists the savings plan utilization summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        in: query
        description: Supports filtering by properties/usageDate.
        required: false
        schema:
          type: string
      - name: grainParameter
        in: query
        description: Grain.
        required: false
        x-ms-enum:
          name: GrainParameter
          modelAsString: true
          values:
          - name: Hourly
            value: Hourly
            description: Hourly grain corresponds to value per hour.
          - name: Daily
            value: Daily
            description: Hourly grain corresponds to value per day.
          - name: Monthly
            value: Monthly
            description: Hourly grain corresponds to value per month.
        schema:
          type: string
          enum:
          - Hourly
          - Daily
          - Monthly
      - name: savingsPlanOrderId
        in: path
        description: Savings plan order ID.
        required: true
        schema:
          type: string
      - name: savingsPlanId
        in: path
        description: Savings plan ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SavingsPlanUtilizationSummariesMonthlyWithSavingsPlanId:
          $ref: ../examples/BenefitUtilizationSummaries/SavingsPlan-SavingsPlanId-Monthly.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Providers
  ? /providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateBySavingsPlanId
      description: Triggers generation of a benefit utilization summaries report for the provided savings plan.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: savingsPlanOrderId
        in: path
        description: Savings plan order ID.
        required: true
        schema:
          type: string
      - name: savingsPlanId
        in: path
        description: Savings plan ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      x-ms-examples:
        GenerateUtilizationSummariesReportBySavingsPlan:
          $ref: ../examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportBySavingsPlan.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/BenefitUtilizationSummariesOperationStatus'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitUtilizationSummariesRequest'
        description: Async Benefit Utilization Summary report to be created.
        required: true
      tags:
      - Providers
  ? /providers/microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateByReservationOrderId
      description: Triggers generation of a benefit utilization summaries report for the provided reservation order.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: reservationOrderId
        in: path
        description: Reservation Order ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      x-ms-examples:
        GenerateUtilizationSummariesReportByReservationOrder:
          $ref: ../examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByReservationOrder.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/BenefitUtilizationSummariesOperationStatus'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitUtilizationSummariesRequest'
        description: Async Benefit Utilization Summary report to be created.
        required: true
      tags:
      - Providers
  ? /providers/microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport
  : post:
      operationId: GenerateBenefitUtilizationSummariesReport_GenerateByReservationId
      description: Triggers generation of a benefit utilization summaries report for the provided reservation.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: reservationOrderId
        in: path
        description: Reservation Order ID
        required: true
        schema:
          type: string
      - name: reservationId
        in: path
        description: Reservation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitUtilizationSummariesOperationStatus'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      x-ms-examples:
        GenerateUtilizationSummariesReportByReservation:
          $ref: ../examples/BenefitUtilizationSummaries/Async/GenerateBenefitUtilizationSummariesReportByReservation.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/BenefitUtilizationSummariesOperationStatus'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitUtilizationSummariesRequest'
        description: Async Benefit Utilization Summary report to be created.
        required: true
      tags:
      - Providers
components:
  schemas:
    Alert:
      type: object
      description: An individual alert.
      properties:
        properties:
          $ref: '#/components/schemas/AlertProperties'
          description: Alert properties.
          x-ms-client-flatten: true
        eTag:
          $ref: '#/components/schemas/Azure.Core.eTag'
          description: eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether
            the user is updating the latest version or not.
      allOf:
      - $ref: '#/components/schemas/ArmProxyResource'
    AlertCategory:
      type: string
      description: Alert category
      enum:
      - Cost
      - Usage
      - Billing
      - System
      x-ms-enum:
        name: AlertCategory
        modelAsString: true
        values:
        - name: Cost
          value: Cost
        - name: Usage
          value: Usage
        - name: Billing
          value: Billing
        - name: System
          value: System
    AlertCriteria:
      type: string
      description: Criteria that triggered alert
      enum:
      - CostThresholdExceeded
      - UsageThresholdExceeded
      - CreditThresholdApproaching
      - CreditThresholdReached
      - QuotaThresholdApproaching
      - QuotaThresholdReached
      - MultiCurrency
      - ForecastCostThresholdExceeded
      - ForecastUsageThresholdExceeded
      - InvoiceDueDateApproaching
      - InvoiceDueDateReached
      - CrossCloudNewDataAvailable
      - CrossCloudCollectionError
      - GeneralThresholdError
      x-ms-enum:
        name: AlertCriteria
        modelAsString: true
        values:
        - name: CostThresholdExceeded
          value: CostThresholdExceeded
        - name: UsageThresholdExceeded
          value: UsageThresholdExceeded
        - name: CreditThresholdApproaching
          value: CreditThresholdApproaching
        - name: CreditThresholdReached
          value: CreditThresholdReached
        - name: QuotaThresholdApproaching
          value: QuotaThresholdApproaching
        - name: QuotaThresholdReached
          value: QuotaThresholdReached
        - name: MultiCurrency
          value: MultiCurrency
        - name: ForecastCostThresholdExceeded
          value: ForecastCostThresholdExceeded
        - name: ForecastUsageThresholdExceeded
          value: ForecastUsageThresholdExceeded
        - name: InvoiceDueDateApproaching
          value: InvoiceDueDateApproaching
        - name: InvoiceDueDateReached
          value: InvoiceDueDateReached
        - name: CrossCloudNewDataAvailable
          value: CrossCloudNewDataAvailable
        - name: CrossCloudCollectionError
          value: CrossCloudCollectionError
        - name: GeneralThresholdError
          value: GeneralThresholdError
    AlertOperator:
      type: string
      description: operator used to compare currentSpend with amount
      enum:
      - None
      - EqualTo
      - GreaterThan
      - GreaterThanOrEqualTo
      - LessThan
      - LessThanOrEqualTo
      x-ms-enum:
        name: AlertOperator
        modelAsString: true
        values:
        - name: None
          value: None
        - name: EqualTo
          value: EqualTo
        - name: GreaterThan
          value: GreaterThan
        - name: GreaterThanOrEqualTo
          value: GreaterThanOrEqualTo
        - name: LessThan
          value: LessThan
        - name: LessThanOrEqualTo
          value: LessThanOrEqualTo
    AlertProperties:
      type: object
      description: Alert properties.
      properties:
        definition:
          $ref: '#/components/schemas/AlertPropertiesDefinition'
          description: defines the type of alert
        description:
          type: string
          description: Alert description
        source:
          $ref: '#/components/schemas/AlertSource'
          description: Source of alert
        details:
          $ref: '#/components/schemas/AlertPropertiesDetails'
          description: Alert details
        costEntityId:
          type: string
          description: related budget
        status:
          $ref: '#/components/schemas/AlertStatus'
          description: alert status
        creationTime:
          type: string
          description: dateTime in which alert was created
        closeTime:
          type: string
          description: dateTime in which alert was closed
        modificationTime:
          type: string
          description: dateTime in which alert was last modified
        statusModificationUserName:
          type: string
          description: User who last modified the alert
        statusModificationTime:
          type: string
          description: dateTime in which the alert status was last modified
    AlertPropertiesDefinition:
      type: object
      description: defines the type of alert
      properties:
        type:
          $ref: '#/components/schemas/AlertType'
          description: type of alert
        category:
          $ref: '#/components/schemas/AlertCategory'
          description: Alert category
        criteria:
          $ref: '#/components/schemas/AlertCriteria'
          description: Criteria that triggered alert
    AlertPropertiesDetails:
      type: object
      description: Alert details
      properties:
        timeGrainType:
          $ref: '#/components/schemas/AlertTimeGrainType'
          description: Type of timegrain cadence
        periodStartDate:
          type: string
          description: datetime of periodStartDate
        triggeredBy:
          type: string
          description: notificationId that triggered this alert
        resourceGroupFilter:
          type: array
          description: array of resourceGroups to filter by
          items: {}
        resourceFilter:
          type: array
          description: array of resources to filter by
          items: {}
        meterFilter:
          type: array
          description: array of meters to filter by
          items: {}
        tagFilter:
          description: tags to filter by
        threshold:
          type: number
          format: decimal
          description: notification threshold percentage as a decimal which activated this alert
        operator:
          $ref: '#/components/schemas/AlertOperator'
          description: operator used to compare currentSpend with amount
        amount:
          type: number
          format: decimal
          description: budget threshold amount
        unit:
          type: string
          description: unit of currency being used
        currentSpend:
          type: number
          format: decimal
          description: current spend
        contactEmails:
          type: array
          description: list of emails to contact
          items:
            type: string
        contactGroups:
          type: array
          description: list of action groups to broadcast to
          items:
            type: string
        contactRoles:
          type: array
          description: list of contact roles
          items:
            type: string
        overridingAlert:
          type: string
          description: overriding alert
        departmentName:
          type: string
          description: department name
        companyName:
          type: string
          description: company name
        enrollmentNumber:
          type: string
          description: enrollment number
        enrollmentStartDate:
          type: string
          description: datetime of enrollmentStartDate
        enrollmentEndDate:
          type: string
          description: datetime of enrollmentEndDate
        invoicingThreshold:
          type: number
          format: decimal
          description: invoicing threshold
    AlertSource:
      type: string
      description: Source of alert
      enum:
      - Preset
      - User
      x-ms-enum:
        name: AlertSource
        modelAsString: true
        values:
        - name: Preset
          value: Preset
        - name: User
          value: User
    AlertStatus:
      type: string
      description: alert status
      enum:
      - None
      - Active
      - Overridden
      - Resolved
      - Dismissed
      x-ms-enum:
        name: AlertStatus
        modelAsString: true
        values:
        - name: None
          value: None
        - name: Active
          value: Active
        - name: Overridden
          value: Overridden
        - name: Resolved
          value: Resolved
        - name: Dismissed
          value: Dismissed
    AlertTimeGrainType:
      type: string
      description: Type of timegrain cadence
      enum:
      - None
      - Monthly
      - Quarterly
      - Annually
      - BillingMonth
      - BillingQuarter
      - BillingAnnual
      x-ms-enum:
        name: AlertTimeGrainType
        modelAsString: true
        values:
        - name: None
          value: None
        - name: Monthly
          value: Monthly
        - name: Quarterly
          value: Quarterly
        - name: Annually
          value: Annually
        - name: BillingMonth
          value: BillingMonth
        - name: BillingQuarter
          value: BillingQuarter
        - name: BillingAnnual
          value: BillingAnnual
    AlertType:
      type: string
      description: type of alert
      enum:
      - Budget
      - Invoice
      - Credit
      - Quota
      - General
      - xCloud
      - BudgetForecast
      x-ms-enum:
        name: AlertType
        modelAsString: true
        values:
        - name: Budget
          value: Budget
        - name: Invoice
          value: Invoice
        - name: Credit
          value: Credit
        - name: Quota
          value: Quota
        - name: General
          value: General
        - name: xCloud
          value: xCloud
        - name: BudgetForecast
          value: BudgetForecast
    AlertsResult:
      type: object
      description: Result of alerts.
      properties:
        value:
          type: array
          description: List of alerts.
          items:
            $ref: '#/components/schemas/Alert'
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of alerts results if there are any.
          readOnly: true
    ArmCheckNameAvailabilityRequest:
      type: object
      description: The check availability request body.
      properties:
        name:
          type: string
          description: The name of the resource for which availability needs to be checked.
        type:
          type: string
          description: The resource type.
    ArmCheckNameAvailabilityResponse:
      type: object
      description: The check availability result.
      properties:
        nameAvailable:
          type: boolean
          description: Indicates if the resource name is available.
        reason:
          type: string
          description: The reason why the given name is not available.
          enum:
          - Invalid
          - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          type: string
          description: Detailed reason why the given name is available.
    ArmErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ArmErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/ArmErrorDetail'
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ArmErrorAdditionalInfo'
          readOnly: true
          x-ms-identifiers: []
    ArmErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
        (This also follows the OData error response format.).
      properties:
        error:
          $ref: '#/components/schemas/ArmErrorDetail'
          description: The error object.
    ArmProxyResource:
      type: object
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a
        location
      allOf:
      - $ref: '#/components/schemas/ArmResource'
    ArmResource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          $ref: '#/components/schemas/ArmsystemData'
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          readOnly: true
      x-ms-azure-resource: true
    ArmsystemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    AsyncOperationStatusProperties:
      type: object
      description: Object representing the report url and valid until date of the async report generated.
      properties:
        reportUrl:
          $ref: '#/components/schemas/BenefitUtilizationSummaryReportSchema'
          format: password
          description: Sas url to the async benefit utilization summaries report. Will be empty if the report is in Running
            or Failed state.
          x-ms-secret: true
        secondaryReportUrl:
          $ref: '#/components/schemas/BenefitUtilizationSummaryReportSchema'
          format: password
          description: Sas url to async benefit utilization summaries report in secondary storage in case of primary outage.
            Will be empty if the report is in Running or Failed state.
          x-ms-secret: true
        validUntil:
          type: string
          format: date-time
          description: The date that the sas url provided in reportUrl expires.
    Azure.Core.eTag:
      type: string
      description: 'The ETag (or entity tag) HTTP response header is an identifier for a specific version of a resource.

        It lets caches be more efficient and save bandwidth, as a web server does not need to resend a full response if the
        content was not changed.


        It is a string of ASCII characters placed between double quotes, like "675af34563dc-tr34".'
    BenefitKind:
      type: string
      description: Kind/type of the benefit.
      enum:
      - IncludedQuantity
      - Reservation
      - SavingsPlan
      x-ms-enum:
        name: BenefitKind
        modelAsString: true
        values:
        - name: IncludedQuantity
          value: IncludedQuantity
          description: Benefit is IncludedQuantity.
        - name: Reservation
          value: Reservation
          description: Benefit is Reservation.
        - name: SavingsPlan
          value: SavingsPlan
          description: Benefit is SavingsPlan.
    BenefitResource:
      type: object
      description: The benefit resource model definition.
      properties:
        kind:
          $ref: '#/components/schemas/BenefitKind'
          description: Reservation or SavingsPlan.
      allOf:
      - $ref: '#/components/schemas/ArmResource'
    BenefitUtilizationSummariesListResult:
      type: object
      description: List of benefit utilization summaries.
      properties:
        value:
          type: array
          description: The list of benefit utilization summaries.
          items:
            $ref: '#/components/schemas/BenefitUtilizationSummary'
          readOnly: true
        nextLink:
          type: string
          description: The link (URL) to the next page of results.
    BenefitUtilizationSummariesOperationStatus:
      type: object
      description: Status of a benefit utilization summaries report. Provides Async Benefit Utilization Summaries Request
        input, status, and report sas url.
      properties:
        input:
          $ref: '#/components/schemas/BenefitUtilizationSummariesRequest'
          description: Input given to create the benefit utilization summaries report.
        status:
          $ref: '#/components/schemas/OperationStatusType'
          description: The status of the creation of the benefit utilization summaries report.
        properties:
          $ref: '#/components/schemas/AsyncOperationStatusProperties'
          description: Contains sas url to the async benefit utilization summaries report and a date that the url is valid
            until. These values will be empty if the report is in a Running or Failed state
    BenefitUtilizationSummariesRequest:
      type: object
      description: Properties of an async benefit utilization summaries request.
      properties:
        billingAccountId:
          type: string
          description: Billing account the benefit utilization summaries report is for. Required for billing account and billing
            profile scopes. Not supported for any benefit scopes.
        billingProfileId:
          type: string
          description: Billing profile id the benefit utilization summaries report is for. Required for billing profile scope.
            Not supported for billing account or any benefit scopes.
        benefitOrderId:
          type: string
          description: Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit
            id scopes. Not supported for any billing scopes.
        benefitId:
          type: string
          description: Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported
            for benefit order or any billing scopes.
        grain:
          $ref: '#/components/schemas/Grain'
          description: The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.
        startDate:
          type: string
          format: date-time
          description: The start date of the summaries data that will be served in the report.
        endDate:
          type: string
          format: date-time
          description: The end date of the summaries data that will be served in the report.
        kind:
          $ref: '#/components/schemas/BenefitKind'
          description: The type of benefit data requested. Required for billing account and billing profile scopes. Implied
            and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan
      required:
      - grain
      - startDate
      - endDate
    BenefitUtilizationSummary:
      type: object
      description: Benefit utilization summary resource.
      properties:
        kind:
          $ref: '#/components/schemas/BenefitKind'
          description: 'Supported values: ''SavingsPlan''.'
      discriminator:
        propertyName: kind
      required:
      - kind
      allOf:
      - $ref: '#/components/schemas/ArmResource'
    BenefitUtilizationSummaryReportSchema:
      type: string
      description: The CSV file from the reportUrl and secondaryReportUrl blob link will consist of the following columns
        of benefit utilization data. UtilizedPercentage will be 0 for savings plans reports and non data bricks reservations.
        Utilization percentages will be 0 for data bricks reservations.
      enum:
      - Kind
      - AvgUtilizationPercentage
      - BenefitOrderId
      - BenefitId
      - BenefitType
      - MaxUtilizationPercentage
      - MinUtilizationPercentage
      - UsageDate
      - UtilizedPercentage
      x-ms-enum:
        name: BenefitUtilizationSummaryReportSchema
        modelAsString: true
        values:
        - name: Kind
          value: Kind
        - name: AvgUtilizationPercentage
          value: AvgUtilizationPercentage
        - name: BenefitOrderId
          value: BenefitOrderId
        - name: BenefitId
          value: BenefitId
        - name: BenefitType
          value: BenefitType
        - name: MaxUtilizationPercentage
          value: MaxUtilizationPercentage
        - name: MinUtilizationPercentage
          value: MinUtilizationPercentage
        - name: UsageDate
          value: UsageDate
        - name: UtilizedPercentage
          value: UtilizedPercentage
    BlobInfo:
[...]
