openapi: 3.2.0
info:
  title: Microsoft Azure Cost Management Operations API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Operations across 2 of this provider''s published API definitions: microsoft-azure-cost-management-openapi.json, microsoft-azure-cost-management-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /providers/Microsoft.CostManagement/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        OperationList:
          $ref: ./examples/OperationList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Operations list
      x-summary-source: derived
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CostManagementOperation:
      type: object
      description: A Cost management REST API operation.
      properties:
        id:
          type: string
          description: 'Operation id: {provider}/{resource}/{operation}.'
          readOnly: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/Operation
    OperationListResult:
      type: object
      description: Result of listing cost management operations. It contains a list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          description: List of cost management operations supported by the Microsoft.CostManagement resource provider.
          items:
            $ref: '#/components/schemas/CostManagementOperation'
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there are any.
          readOnly: true
    ErrorResponse:
      type: object
      description: 'Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message. \n\nSome Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable. Retry after waiting for the time specified in the \"Retry-After\" header.'
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    ErrorDetails:
      type: object
      description: The details of the error.
      properties:
        code:
          type: string
          description: Error code.
          readOnly: true
        message:
          type: string
          description: Error message indicating why the operation failed.
          readOnly: true
    ErrorResponse_2:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
    OperationList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
        nextLink:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        display:
          type: object
          properties:
            provider:
              type: string
            resource:
              type: string
            operation:
              type: string
            description:
              type: string
        isDataAction:
          type: boolean
  parameters:
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
externalDocs:
  description: Azure Cost Management REST API Documentation
  url: https://learn.microsoft.com/en-us/rest/api/cost-management/
x-refined-from:
- microsoft-azure-cost-management-openapi.json
- microsoft-azure-cost-management-openapi.yml
