openapi: 3.2.0
info:
  title: CostManagementClient Settings API
  version: '2026-06-01'
  description: CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Settings
paths:
  /{scope}/providers/Microsoft.CostManagement/settings:
    get:
      operationId: Settings_List
      tags:
      - Settings
      description: List all cost management settings in the requested scope.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SettingsList:
          $ref: ./examples/settingsList.json
      summary: Settings list
      x-summary-source: derived
  /{scope}/providers/Microsoft.CostManagement/settings/{type}:
    get:
      operationId: Settings_GetByScope
      tags:
      - Settings
      description: Get the setting from the given scope by name.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: Setting type.
        required: true
        x-ms-enum:
          name: SettingType
          modelAsString: true
          values:
          - name: taginheritance
            value: taginheritance
            description: This setting applies billing profile, invoice section, subscription and resource group tags to current month's usage data of child resources.
        schema:
          type: string
          enum:
          - taginheritance
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SettingByScope:
          $ref: ./examples/setting-get.json
      summary: Settings get by scope
      x-summary-source: derived
    put:
      operationId: Settings_CreateOrUpdateByScope
      tags:
      - Settings
      description: Create or update a setting within the given scope.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: Setting type.
        required: true
        x-ms-enum:
          name: SettingType
          modelAsString: true
          values:
          - name: taginheritance
            value: taginheritance
            description: This setting applies billing profile, invoice section, subscription and resource group tags to current month's usage data of child resources.
        schema:
          type: string
          enum:
          - taginheritance
      responses:
        '200':
          description: Resource 'Setting' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
        '201':
          description: Resource 'Setting' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        CreateOrUpdateSettingByScope:
          $ref: ./examples/settings-createOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Setting'
        description: Setting to be created or updated.
        required: true
      summary: Settings create or update by scope
      x-summary-source: derived
    delete:
      operationId: Settings_DeleteByScope
      tags:
      - Settings
      description: Delete a setting within the given scope.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/cost-management/
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: scope
        in: path
        description: undefined
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: Setting type.
        required: true
        x-ms-enum:
          name: SettingType
          modelAsString: true
          values:
          - name: taginheritance
            value: taginheritance
            description: This setting applies billing profile, invoice section, subscription and resource group tags to current month's usage data of child resources.
        schema:
          type: string
          enum:
          - taginheritance
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        SettingDeleteByScope:
          $ref: ./examples/setting-delete.json
      summary: Settings delete by scope
      x-summary-source: derived
components:
  schemas:
    ErrorResponse:
      type: object
      description: 'Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message. \n\nSome Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry after waiting for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header. \n\n * 503 ServiceUnavailable - Service is temporarily unavailable. Retry after waiting for the time specified in the \"Retry-After\" header.'
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    SettingsListResult:
      type: object
      description: Setting list result. It contains a list of settings.
      properties:
        value:
          type: array
          description: The list of settings.
          items:
            $ref: '#/components/schemas/Setting'
          readOnly: true
          x-ms-identifiers:
          - id
    Setting:
      type: object
      description: Setting definition.
      properties:
        kind:
          $ref: '#/components/schemas/SettingsKind'
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\\\)]+$
      discriminator:
        propertyName: kind
      required:
      - kind
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    SettingsKind:
      type: string
      description: Specifies the kind of settings.
      enum:
      - taginheritance
      x-ms-enum:
        name: SettingsKind
        modelAsString: true
        values:
        - name: taginheritance
          value: taginheritance
    ErrorDetails:
      type: object
      description: The details of the error.
      properties:
        code:
          type: string
          description: Error code.
          readOnly: true
        message:
          type: string
          description: Error message indicating why the operation failed.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
