openapi: 3.2.0
info:
  title: CostManagementClient Exports API
  version: '2026-06-01'
  description: CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
  x-api-evangelist-common-types: Azure Resource Manager common-types v5 components referenced by this contract were inlined
    from https://github.com/Azure/azure-rest-api-specs/tree/main/specification/common-types/resource-management/v5 and prefixed
    Arm, so the document resolves standalone. Microsoft's published document $refs them by relative path across repository
    directories.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Exports
paths:
  /{scope}/providers/Microsoft.CostManagement/exports:
    get:
      operationId: Exports_List
      tags:
      - Exports
      description: The operation to list all exports at the given scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The scope associated with alerts operations. This includes '/subscriptions/{subscriptionId}/' for subscription
          scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
          for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
          for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
          for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management
          Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
          for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
          for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
          specific for partners.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: $expand
        in: query
        description: May be used to expand the properties within an export. Currently only 'runHistory' is supported and will
          return information for the last run of each export.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExportsGetByBillingAccount:
          $ref: ../examples/ExportsGetByBillingAccount.json
        ExportsGetByDepartment:
          $ref: ../examples/ExportsGetByDepartment.json
        ExportsGetByEnrollmentAccount:
          $ref: ../examples/ExportsGetByEnrollmentAccount.json
        ExportsGetByManagementGroup:
          $ref: ../examples/ExportsGetByManagementGroup.json
        ExportsGetByResourceGroup:
          $ref: ../examples/ExportsGetByResourceGroup.json
        ExportsGetBySubscription:
          $ref: ../examples/ExportsGetBySubscription.json
  /{scope}/providers/Microsoft.CostManagement/exports/{exportName}:
    get:
      operationId: Exports_Get
      tags:
      - Exports
      description: The operation to get the export for the defined scope by export name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The fully qualified Azure Resource manager identifier of the resource.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: exportName
        in: path
        description: Export Name.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: May be used to expand the properties within an export. Currently only 'runHistory' is supported and will
          return information for the last 10 runs of the export.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExportGetByBillingAccount:
          $ref: ../examples/ExportGetByBillingAccount.json
        ExportGetByDepartment:
          $ref: ../examples/ExportGetByDepartment.json
        ExportGetByEnrollmentAccount:
          $ref: ../examples/ExportGetByEnrollmentAccount.json
        ExportGetByManagementGroup:
          $ref: ../examples/ExportGetByManagementGroup.json
        ExportGetByResourceGroup:
          $ref: ../examples/ExportGetByResourceGroup.json
        ExportGetBySubscription:
          $ref: ../examples/ExportGetBySubscription.json
    put:
      operationId: Exports_CreateOrUpdate
      tags:
      - Exports
      description: The operation to create or update a export. Update operation requires latest eTag to be set in the request.
        You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The fully qualified Azure Resource manager identifier of the resource.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: exportName
        in: path
        description: Export Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource 'Export' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
        '201':
          description: Resource 'Export' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExportCreateOrUpdateByBillingAccount:
          $ref: ../examples/ExportCreateOrUpdateByBillingAccount.json
        ExportCreateOrUpdateByBillingAccountCustom:
          $ref: ../examples/ExportCreateOrUpdateByBillingAccountCustom.json
        ExportCreateOrUpdateByBillingAccountMonthly:
          $ref: ../examples/ExportCreateOrUpdateByBillingAccountMonthly.json
        ExportCreateOrUpdateByBillingAccountPricesheet:
          $ref: ../examples/ExportCreateOrUpdateByBillingAccountPricesheet.json
        ExportCreateOrUpdateByBillingAccountReservationDetails:
          $ref: ../examples/ExportCreateOrUpdateByBillingAccountReservationDetails.json
        ExportCreateOrUpdateByBillingAccountReservationRecommendation:
          $ref: ../examples/ExportCreateOrUpdateByBillingAccountReservationRecommendation.json
        ExportCreateOrUpdateByDepartment:
          $ref: ../examples/ExportCreateOrUpdateByDepartment.json
        ExportCreateOrUpdateByEnrollmentAccount:
          $ref: ../examples/ExportCreateOrUpdateByEnrollmentAccount.json
        ExportCreateOrUpdateByManagementGroup:
          $ref: ../examples/ExportCreateOrUpdateByManagementGroup.json
        ExportCreateOrUpdateByResourceGroup:
          $ref: ../examples/ExportCreateOrUpdateByResourceGroup.json
        ExportCreateOrUpdateBySubscription:
          $ref: ../examples/ExportCreateOrUpdateBySubscription.json
        ExportCreateOrUpdateExportCreateOrUpdateByBillingAccountReservationTransactionsByBillingAccount:
          $ref: ../examples/ExportCreateOrUpdateByBillingAccountReservationTransactions.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Export'
        description: Parameters supplied to the CreateOrUpdate Export operation.
        required: true
    delete:
      operationId: Exports_Delete
      tags:
      - Exports
      description: The operation to delete a export.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The fully qualified Azure Resource manager identifier of the resource.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: exportName
        in: path
        description: Export Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExportDeleteByBillingAccount:
          $ref: ../examples/ExportDeleteByBillingAccount.json
        ExportDeleteByDepartment:
          $ref: ../examples/ExportDeleteByDepartment.json
        ExportDeleteByEnrollmentAccount:
          $ref: ../examples/ExportDeleteByEnrollmentAccount.json
        ExportDeleteByManagementGroup:
          $ref: ../examples/ExportDeleteByManagementGroup.json
        ExportDeleteByResourceGroup:
          $ref: ../examples/ExportDeleteByResourceGroup.json
        ExportDeleteBySubscription:
          $ref: ../examples/ExportDeleteBySubscription.json
  /{scope}/providers/Microsoft.CostManagement/exports/{exportName}/run:
    post:
      operationId: Exports_Execute
      tags:
      - Exports
      description: The operation to run an export.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The fully qualified Azure Resource manager identifier of the resource.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: exportName
        in: path
        description: Export Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExportRunByBillingAccount:
          $ref: ../examples/ExportRunByBillingAccount.json
        ExportRunByBillingAccountWithOptionalRequestBody:
          $ref: ../examples/ExportRunByBillingAccountWithOptionalRequestBody.json
        ExportRunByDepartment:
          $ref: ../examples/ExportRunByDepartment.json
        ExportRunByEnrollmentAccount:
          $ref: ../examples/ExportRunByEnrollmentAccount.json
        ExportRunByManagementGroup:
          $ref: ../examples/ExportRunByManagementGroup.json
        ExportRunByResourceGroup:
          $ref: ../examples/ExportRunByResourceGroup.json
        ExportRunBySubscription:
          $ref: ../examples/ExportRunBySubscription.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRunRequest'
        description: Parameters supplied to the Execute Export operation.
  /{scope}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory:
    get:
      operationId: Exports_GetExecutionHistory
      tags:
      - Exports
      description: The operation to get the run history of an export for the defined scope and export name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: scope
        in: path
        description: The fully qualified Azure Resource manager identifier of the resource.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: exportName
        in: path
        description: Export Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportExecutionListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ExportRunHistoryGetByBillingAccount:
          $ref: ../examples/ExportRunHistoryGetByBillingAccount.json
        ExportRunHistoryGetByDepartment:
          $ref: ../examples/ExportRunHistoryGetByDepartment.json
        ExportRunHistoryGetByEnrollmentAccount:
          $ref: ../examples/ExportRunHistoryGetByEnrollmentAccount.json
        ExportRunHistoryGetByManagementGroup:
          $ref: ../examples/ExportRunHistoryGetByManagementGroup.json
        ExportRunHistoryGetByResourceGroup:
          $ref: ../examples/ExportRunHistoryGetByResourceGroup.json
        ExportRunHistoryGetBySubscription:
          $ref: ../examples/ExportRunHistoryGetBySubscription.json
components:
  schemas:
    ArmProxyResource:
      type: object
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a
        location
      allOf:
      - $ref: '#/components/schemas/ArmResource'
    ArmResource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          $ref: '#/components/schemas/ArmsystemData'
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          readOnly: true
      x-ms-azure-resource: true
    ArmSystemAssignedServiceIdentity:
      type: object
      description: Managed service identity (either system assigned, or none)
      properties:
        principalId:
          type: string
          format: uuid
          description: The service principal ID of the system assigned identity. This property will only be provided for a
            system assigned identity.
          readOnly: true
        tenantId:
          type: string
          format: uuid
          description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned
            identity.
          readOnly: true
        type:
          $ref: '#/components/schemas/ArmSystemAssignedServiceIdentityType'
      required:
      - type
    ArmSystemAssignedServiceIdentityType:
      type: string
      description: Type of managed service identity (either system assigned, or none).
      enum:
      - None
      - SystemAssigned
      x-ms-enum:
        name: SystemAssignedServiceIdentityType
        modelAsString: true
    ArmsystemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Azure.Core.eTag:
      type: string
      description: 'The ETag (or entity tag) HTTP response header is an identifier for a specific version of a resource.

        It lets caches be more efficient and save bandwidth, as a web server does not need to resend a full response if the
        content was not changed.


        It is a string of ASCII characters placed between double quotes, like "675af34563dc-tr34".'
    CommonExportProperties:
      type: object
      description: The common properties of the export.
      properties:
        format:
          $ref: '#/components/schemas/FormatType'
          description: The format of the export being delivered.
        deliveryInfo:
          $ref: '#/components/schemas/ExportDeliveryInfo'
          description: Has delivery information for the export.
        definition:
          $ref: '#/components/schemas/ExportDefinition'
          description: Has the definition for the export.
        runHistory:
          $ref: '#/components/schemas/ExportExecutionListResult'
          description: If requested, has the most recent run history for the export.
        partitionData:
          type: boolean
          description: If set to true, exported data will be partitioned by size and placed in a blob directory together with
            a manifest file.
        dataOverwriteBehavior:
          $ref: '#/components/schemas/DataOverwriteBehaviorType'
          description: Allow customers to select overwrite data(OverwritePreviousReport) for exports. This setting will enable
            overwrite data for the same month in customer storage account. By default set to CreateNewReport.
        compressionMode:
          $ref: '#/components/schemas/CompressionModeType'
          description: Allow customers to select compress data for exports. This setting will enable destination file compression
            scheme at runtime. By default set to None. Gzip is for csv and snappy for parquet.
        exportDescription:
          type: string
          description: The export description set by customer at time of export creation/update.
        nextRunTimeEstimate:
          type: string
          format: date-time
          description: If the export has an active schedule, provides an estimate of the next run time.
          readOnly: true
        systemSuspensionContext:
          $ref: '#/components/schemas/ExportSuspensionContext'
          description: The export suspension reason if export is in SystemSuspended state. This is not populated currently.
          readOnly: true
      required:
      - deliveryInfo
      - definition
    CompressionModeType:
      type: string
      description: Allow customers to select compress data for exports. This setting will enable destination file compression
        scheme at runtime. By default set to None. Gzip is for csv and snappy for parquet.
      enum:
      - gzip
      - snappy
      - none
      x-ms-enum:
        name: CompressionModeType
        modelAsString: true
        values:
        - name: gzip
          value: gzip
        - name: snappy
          value: snappy
        - name: none
          value: none
    CostManagementProxyResource:
      type: object
      description: The Resource model definition.
      properties:
        id:
          type: string
          description: Resource Id.
          readOnly: true
        name:
          type: string
          description: Resource name.
          readOnly: true
        type:
          type: string
          description: Resource type.
          readOnly: true
        eTag:
          type: string
          description: eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether
            the user is updating the latest version or not.
    DataOverwriteBehaviorType:
      type: string
      description: Allow customers to select overwrite data(OverwritePreviousReport) for exports. This setting will enable
        overwrite data for the same month in customer storage account. By default set to CreateNewReport.
      enum:
      - OverwritePreviousReport
      - CreateNewReport
      x-ms-enum:
        name: DataOverwriteBehaviorType
        modelAsString: true
        values:
        - name: OverwritePreviousReport
          value: OverwritePreviousReport
        - name: CreateNewReport
          value: CreateNewReport
    DestinationType:
      type: string
      description: The export delivery destination type. Currently only 'AzureBlob' is supported.
      enum:
      - AzureBlob
      x-ms-enum:
        name: DestinationType
        modelAsString: true
        values:
        - name: AzureBlob
          value: AzureBlob
    ErrorDetails:
      type: object
      description: The details of the error.
      properties:
        code:
          type: string
          description: Error code.
          readOnly: true
        message:
          type: string
          description: Error message indicating why the operation failed.
          readOnly: true
    ErrorResponse:
      type: object
      description: 'Error response indicates that the service is not able to process the incoming request. The reason is provided
        in the error message. \n\nSome Error responses: \n\n * 429 TooManyRequests - Request is throttled. Retry after waiting
        for the time specified in the \"x-ms-ratelimit-microsoft.consumption-retry-after\" header. \n\n * 503 ServiceUnavailable
        - Service is temporarily unavailable. Retry after waiting for the time specified in the \"Retry-After\" header.'
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    ExecutionStatus:
      type: string
      description: The last known status of the export run.
      enum:
      - Queued
      - InProgress
      - Completed
      - Failed
      - Timeout
      - NewDataNotAvailable
      - DataNotAvailable
      x-ms-enum:
        name: ExecutionStatus
        modelAsString: true
        values:
        - name: Queued
          value: Queued
        - name: InProgress
          value: InProgress
        - name: Completed
          value: Completed
        - name: Failed
          value: Failed
        - name: Timeout
          value: Timeout
        - name: NewDataNotAvailable
          value: NewDataNotAvailable
        - name: DataNotAvailable
          value: DataNotAvailable
    ExecutionType:
      type: string
      description: The type of the export run.
      enum:
      - OnDemand
      - Scheduled
      x-ms-enum:
        name: ExecutionType
        modelAsString: true
        values:
        - name: OnDemand
          value: OnDemand
        - name: Scheduled
          value: Scheduled
    Export:
      type: object
      description: An export resource.
      properties:
        properties:
          $ref: '#/components/schemas/ExportProperties'
          description: The properties of the export.
          x-ms-client-flatten: true
        identity:
          $ref: '#/components/schemas/ArmSystemAssignedServiceIdentity'
        location:
          type: string
          description: The location of the Export's managed identity. Only required when utilizing managed identity.
          x-ms-mutability:
          - read
          - create
        eTag:
          $ref: '#/components/schemas/Azure.Core.eTag'
          description: eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether
            the user is updating the latest version or not.
      allOf:
      - $ref: '#/components/schemas/ArmProxyResource'
    ExportDataset:
      type: object
      description: The definition for data in the export.
      properties:
        granularity:
          $ref: '#/components/schemas/GranularityType'
          description: The granularity of rows in the export. Currently 'Daily' is supported for most cases.
        configuration:
          $ref: '#/components/schemas/ExportDatasetConfiguration'
          description: The export dataset configuration.
    ExportDatasetConfiguration:
      type: object
      description: This is on path to deprecation and will not be supported going forward.
      properties:
        columns:
          type: array
          description: Array of column names to be included in the export. If not provided then the export will include all
            available columns. The available columns can vary by customer channel (see examples).
          items:
            type: string
        dataVersion:
          type: string
          description: The data version for the selected for the export. If not provided then the export will default to latest
            data version.
        filters:
          type: array
          description: Filters associated with the data sets.
          items:
            $ref: '#/components/schemas/FilterItems'
          x-ms-identifiers:
          - name
    ExportDefinition:
      type: object
      description: The definition of an export.
      properties:
        type:
          $ref: '#/components/schemas/ExportType'
          description: The type of the export. Note that 'Usage' is equivalent to 'ActualCost' and is applicable to exports
            that do not yet provide data for charges or amortization for service reservations.
        timeframe:
          $ref: '#/components/schemas/TimeframeType'
          description: The time frame for pulling data for the export. If custom, then a specific time period must be provided.
        timePeriod:
          $ref: '#/components/schemas/ExportTimePeriod'
          description: Has time period for pulling data for the export.
        dataSet:
          $ref: '#/components/schemas/ExportDataset'
          description: The definition for data in the export.
      required:
      - type
      - timeframe
    ExportDeliveryDestination:
      type: object
      description: This represents the blob storage account location where exports of costs will be delivered. There are two
        ways to configure the destination. The approach recommended for most customers is to specify the resourceId of the
        storage account. This requires a one-time registration of the account's subscription with the Microsoft.CostManagementExports
        resource provider in order to give Cost Management services access to the storage. When creating an export in the
        Azure portal this registration is performed automatically but API users may need to register the subscription explicitly
        (for more information see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-supported-services
        ). Another way to configure the destination is available ONLY to Partners with a Microsoft Partner Agreement plan
        who are global admins of their billing account. These Partners, instead of specifying the resourceId of a storage
        account, can specify the storage account name along with a SAS token for the account. This allows exports of costs
        to a storage account in any tenant. The SAS token should be created for the blob service with Service/Container/Object
        resource types and with Read/Write/Delete/List/Add/Create permissions (for more information see https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/export-cost-data-storage-account-sas-key
        ).
      properties:
        type:
          $ref: '#/components/schemas/DestinationType'
          description: The export delivery destination type. Currently only 'AzureBlob' is supported.
        resourceId:
          type: string
          description: The resource id of the storage account where exports will be delivered. This is not required if a sasToken
            and storageAccount are specified.
        container:
          type: string
          description: The name of the container where exports will be uploaded. If the container does not exist it will be
            created.
        rootFolderPath:
          type: string
          description: The name of the directory where exports will be uploaded.
        sasToken:
          type: string
          format: password
          description: 'A SAS token for the storage account. For a restricted set of Azure customers this together with storageAccount
            can be specified instead of resourceId. Note: the value returned by the API for this property will always be obfuscated.
            Returning this same obfuscated value will not result in the SAS token being updated. To update this value a new
            SAS token must be specified.'
          x-ms-secret: true
        storageAccount:
          type: string
          description: The storage account where exports will be uploaded. For a restricted set of Azure customers this together
            with sasToken can be specified instead of resourceId.
      required:
      - container
    ExportDeliveryInfo:
      type: object
      description: The delivery information associated with a export.
      properties:
        destination:
          $ref: '#/components/schemas/ExportDeliveryDestination'
          description: Has destination for the export being delivered.
      required:
      - destination
    ExportExecutionListResult:
      type: object
      description: Result of listing the run history of an export.
      properties:
        value:
          type: array
          description: A list of export runs.
          items:
            $ref: '#/components/schemas/ExportRun'
          readOnly: true
    ExportListResult:
      type: object
      description: Result of listing exports. It contains a list of available exports in the scope provided.
      properties:
        value:
          type: array
          description: The list of exports.
          items:
            $ref: '#/components/schemas/Export'
          readOnly: true
    ExportProperties:
      type: object
      description: The properties of the export.
      properties:
        schedule:
          $ref: '#/components/schemas/ExportSchedule'
          description: Has schedule information for the export.
      allOf:
      - $ref: '#/components/schemas/CommonExportProperties'
    ExportRecurrencePeriod:
      type: object
      description: The start and end date for recurrence schedule.
      properties:
        from:
          type: string
          format: date-time
          description: The start date of recurrence.
        to:
          type: string
          format: date-time
          description: The end date of recurrence.
      required:
      - from
    ExportRun:
      type: object
      description: An export run.
      properties:
        properties:
          $ref: '#/components/schemas/ExportRunProperties'
          description: The properties of the export run.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/CostManagementProxyResource'
    ExportRunProperties:
      type: object
      description: The properties of the export run.
      properties:
        executionType:
          $ref: '#/components/schemas/ExecutionType'
          description: The type of the export run.
        status:
          $ref: '#/components/schemas/ExecutionStatus'
          description: The last known status of the export run.
        submittedBy:
          type: string
          description: The identifier for the entity that triggered the export. For on-demand runs it is the user email. For
            scheduled runs it is 'System'.
        submittedTime:
          type: string
          format: date-time
          description: The time when export was queued to be run.
        processingStartTime:
          type: string
          format: date-time
          description: The time when export was picked up to be run.
        processingEndTime:
          type: string
          format: date-time
          description: The time when the export run finished.
        startDate:
          type: string
          format: date-time
          description: The start datetime for the export.
        endDate:
          type: string
          format: date-time
          description: The end datetime for the export.
        fileName:
          type: string
          description: The name of the exported file.
        manifestFile:
          type: string
          description: The manifest file location(URI location) for the exported files.
        runSettings:
          $ref: '#/components/schemas/CommonExportProperties'
          description: The export settings that were in effect for this run.
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of any error.
    ExportRunRequest:
      type: object
      description: The export run request.
      properties:
        timePeriod:
          $ref: '#/components/schemas/ExportTimePeriod'
          description: Has time period for pulling data for the export.
    ExportSchedule:
      type: object
      description: The schedule associated with the export.
      properties:
        status:
          $ref: '#/components/schemas/StatusType'
          description: The status of the export's schedule. If 'Inactive', the export's schedule is paused. To enable export
            set the status to be Active and then make a PUT request.
        recurrence:
          $ref: '#/components/schemas/RecurrenceType'
          description: The schedule recurrence.
        recurrencePeriod:
          $ref: '#/components/schemas/ExportRecurrencePeriod'
          description: Has start and end date of the recurrence. The start date must be in future. If present, the end date
            must be greater than start date.
    ExportSuspensionContext:
      type: object
      description: The properties of the export run. This is not populated currently.
      properties:
        suspensionCode:
          type: string
          description: The code for export suspension.
        suspensionReason:
          type: string
          description: The detailed reason for export suspension.
        suspensionTime:
          type: string
          format: date-time
          description: The time when the export was suspended.
    ExportTimePeriod:
      type: object
      description: The date range for data in the export. This should only be specified with timeFrame set to 'Custom'. The
        maximum date range is 1 calendar month.
      properties:
        from:
          type: string
          format: date-time
          description: The start date for export data.
        to:
          type: string
          format: date-time
          description: The end date for export data.
      required:
      - from
      - to
    ExportType:
      type: string
      description: The type of the export. Note that 'Usage' is equivalent to 'ActualCost' and is applicable to exports that
        do not yet provide data for charges or amortization for service reservations.
      enum:
      - Usage
      - ActualCost
      - AmortizedCost
      - FocusCost
      - PriceSheet
      - ReservationTransactions
      - ReservationRecommendations
      - ReservationDetails
      x-ms-enum:
        name: ExportType
        modelAsString: true
        values:
        - name: Usage
          value: Usage
        - name: ActualCost
          value: ActualCost
        - name: AmortizedCost
          value: AmortizedCost
        - name: FocusCost
          value: FocusCost
        - name: PriceSheet
          value: PriceSheet
        - name: ReservationTransactions
          value: ReservationTransactions
        - name: ReservationRecommendations
          value: ReservationRecommendations
        - name: ReservationDetails
          value: ReservationDetails
    FilterItemNames:
      type: string
      description: The name of the filter. This is currently only supported for Export Definition type of ReservationRecommendations.
        Supported names are ['ReservationScope', 'LookBackPeriod', 'ResourceType']
      enum:
      - ReservationScope
      - ResourceType
      - LookBackPeriod
      x-ms-enum:
        name: FilterItemNames
        modelAsString: true
        values:
        - name: ReservationScope
          value: ReservationScope
        - name: ResourceType
          value: ResourceType
        - name: LookBackPeriod
          value: LookBackPeriod
    FilterItems:
      type: object
      description: Will contain the filter name and value to operate on. This is currently only supported for Export Definition
        type of ReservationRecommendations.
      properties:
        name:
          $ref: '#/components/schemas/FilterItemNames'
          description: The name of the filter. This is currently only supported for Export Definition type of ReservationRecommendations.
            Supported names are ['ReservationScope', 'LookBackPeriod', 'ResourceType']
        value:
          type: string
          description: Value to filter by. Currently values supported per name are, for 'ReservationScope' supported values
            are ['Single', 'Shared'], for 'LookBackPeriod' supported values are ['Last7Days', 'Last30Days', 'Last60Days']
            and for 'ResourceType' supported values are ['VirtualMachines', 'SQLDatabases', 'PostgreSQL', 'ManagedDisk', 'MySQL',
            'RedHat', 'MariaDB', 'RedisCache', 'CosmosDB', 'SqlDataWarehouse', 'SUSELinux', 'AppService', 'BlockBlob', 'AzureDataExplorer',
            'VMwareCloudSimple'].
    FormatType:
      type: string
      description: The format of the export being delivered.
      enum:
      - Csv
      - Parquet
      x-ms-enum:
        name: FormatType
        modelAsString: true
        values:
        - name: Csv
          value: Csv
        - name: Parquet
          value: Parquet
    GranularityType:
      type: string
      description: The granularity of rows in the export. Currently 'Daily' is supported for most cases.
      enum:
      - Daily
      - Monthly
      x-ms-enum:
        name: GranularityType
        modelAsString: true
        values:
        - name: Daily
          value: Daily
        - name: Monthly
          value: Monthly
    RecurrenceType:
      type: string
      description: The schedule recurrence.
      enum:
      - Daily
      - Weekly
      - Monthly
      - Annually
      x-ms-enum:
        name: RecurrenceType
        modelAsString: true
        values:
        - name: Daily
          value: Daily
        - name: Weekly
          value: Weekly
        - name: Monthly
          value: Monthly
        - name: Annually
          value: Annually
    StatusType:
      type: string
      description: The status of the export's schedule. If 'Inactive', the export's schedule is paused. To enable export set
        the status to be Active and then make a PUT request.
      enum:
      - Active
      - Inactive
      x-ms-enum:
        name: StatusType
        modelAsString: true
        values:
        - name: Active
          value: Active
        - name: Inactive
          value: Inactive
    TimeframeType:
      type: string
      description: The time frame for pulling data for the export. If custom, then a specific time period must be provided.
      enum:
      - MonthToDate
      - BillingMonthToDate
      - TheLastMonth
      - TheLastBillingMonth
      - WeekToDate
      - Custom
      - TheCurrentMonth
      x-ms-enum:
        name: TimeframeType
        modelAsString: true
        values:
        - name: MonthToDate
          value: MonthToDate
        - name: BillingMonthToDate
          value: BillingMonthToDate
        - name: TheLastMonth
          value: TheLastMonth
        - name: TheLastBillingMonth
          value: TheLastBillingMonth
        - name: WeekToDate
          value: WeekToDate
        - name: Custom
          value: Custom
        - name: TheCurrentMonth
          value: TheCurrentMonth
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
